

<div class="shrink-0">
    <span class="mt-20 ms-20 before:rounded-full before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block">
        <span class="relative text-white p-2 w-1">Z</span>
      </span>
</div>
<div class="ms-20 flex relative">
    <img src="../../../assets/nlr/avatars/planet.jpg" class="h-8 w-8 rounded-full relative" alt="">
    <span class="relative flex h-3 w-3 right-2">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"></span>
    </span>
</div>

