.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Oculta el contenido que se desborda */
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease; /* Animación suave al cambiar */
  }
  
  .slider > div {
    flex: 0 0 auto; /* Evita que los elementos se reduzcan */
  }

  @keyframes scroll{
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-312px * 7 - .1rem * 14));
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }