<div class="min-h-screen bg-gray-100 ">

    <div class="flex flex-wrap pt-20 px-6 gap-4"> 
     
        <div *ngFor="let list of service" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a>
                <img class="p-8 rounded-t-lg" [src]="list.img" alt="product image" />
            </a>
            <div class="px-5 pb-5">
                <a>
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"> {{list.name}} </h5>
                </a>
                <div class="flex items-center mt-2.5 mb-5">
                    <h2  class="text-gray-600 font-semibold text-xs"> Tiempo de Ejecución </h2>
                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3"> {{list.ejecucion}} horas </span>
                </div>
                <div class="flex items-center justify-between">
                    <a (click)="showDialog(list.id)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">Ver Detalles</a>
                
                        <i (click)="openWhatsApp(list.name)" class="pi pi-whatsapp hover:scale-110 hover:shadow-lg hover:shadow-emerald-900 rounded-xl p-2 text-gray-50 cursor-pointer bg-gradient-to-r from-emerald-500 via-emerald-600 to-emerald-700 hover:bg-gradient-to-br transition duration-300 ease-out"
                        style="font-size: 1.2rem;"></i>
                        
                    
                </div>
            </div>
        </div>

    </div>

</div>

<div class="card flex justify-content-center">
    <p-dialog 
        header="Información del Servicio" 
        [(visible)]="visible" 
        [modal]="true" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [style]="{ width: '50vw' }" 
        [draggable]="false" 
        [resizable]="false"
        >

        <a class="flex flex-col items-center bg-white border border-gray-200 rounded-lg md:flex-row md:max-w-xl dark:border-purple-700 dark:bg-purple-800 dark:hover:bg-purple-700 mb-4">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" [src]="viewService.img" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{viewService.name}} </h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> {{viewService.descripcion}} </p>
                <div class="flex items-center mt-2.5 mb-5">
                    <h2  class="text-gray-600 font-semibold text-xs"> Tiempo de Ejecución </h2>
                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3"> {{viewService.ejecucion}} horas </span>
                </div>
            </div>
        </a>

        <div class="flex items-center mt-2.5 mb-2.5 gap-4">
            <h2  class="text-gray-600 font-semibold text-base"> Para solicitar el servicio, escribir al whatsapp </h2>
            <i (click)="openWhatsApp(viewService.name)" class="pi pi-whatsapp hover:scale-110 hover:shadow-lg hover:shadow-emerald-900 rounded-xl p-2 text-gray-50 cursor-pointer bg-gradient-to-r from-emerald-500 via-emerald-600 to-emerald-700 hover:bg-gradient-to-br transition duration-300 ease-out"
            style="font-size: 1.2rem;"></i>
        </div>
    </p-dialog>
    
</div>