<div class="flex min-h-screen bg-gray-100 ">

    <!--  Contenido principal  -->
    <main class="flex-1 p-6 mt-16">


      <!--  Barra de búsqueda  -->

        <form class="max-w-xl mx-auto mb-6" (ngSubmit)="search()">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">

                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>

                <input name="searchText" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar producto, marca, tipo..." required [(ngModel)]="searchText" />

                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
        </form>

        <div *ngIf="isSearching" class="mt-8 text-gray-950 text-center transition-opacity duration-300 ease-in-out">
            <h1 class="text-3xl font-bold mb-4">Bienvenido a nuestra plataforma de búsqueda por IA</h1>
            <p class="text-lg mb-2">Encuentra lo que necesitas en segundos</p>
            <p class="text-sm text-muted-foreground">
              Utiliza la barra de búsqueda para explorar en diversas webs en busca de productos
            </p>
        </div>

        <div *ngIf="loading" class="mt-8 text-center">
          <p class="text-gray-950 font-semibold text-sm pb-2">Esto puede tardar unos segundos</p>
          <span class="loading loading-ring loading-lg text-blue-700"></span>
        </div>

      <!--  Cuadrícula de productos  -->
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8 2xl:grid-cols-6">

          @for (product of productsPag(); track $index){
            <div class="card sm:max-w-sm">
              <figure>
                <img [src]="product.image" alt="" class="h-full w-full object-cover object-center" />
              </figure>
              <div class="card-body">
                
                <h5 class="card-title text-xl mb-2.5"> {{ product.title | slice:0:30 }}... </h5>

                <!-- <ng-container>
                  <div class="flex align-items-center">
                    <span>{{ product.title }}</span>
                  </div>
                </ng-container> -->

                <p class="mb-4"> {{product.type}} </p>
                <p class="mb-4"> {{product.price}} </p>
                <div class="card-actions">
                  <button (click)="abrir(product.url)" class="btn btn-primary">Ver Producto</button>
                  <!-- <button class="btn btn-secondary btn-soft">Add to cart</button> -->
                </div>
              </div>
            </div>
          }
          <!-- <p class="text-center text-gray-500 mt-6">No se encontraron productos que coincidan con tu búsqueda.</p> -->
        </div>

      <!--  Skeleton  -->
        <div *ngIf="loading" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8 2xl:grid-cols-6 transition-all ease-in duration-300">
          
          <div class="card sm:max-w-sm">
            <figure>
              <div class="skeleton skeleton-animated w-full h-48"></div>
            </figure>
            <div class="card-body">
              <div class="skeleton skeleton-animated w-3/4 h-4 mb-2.5"></div>
              <div class="skeleton skeleton-animated w-1/2 h-4 mb-4"></div>
              <div class="skeleton skeleton-animated w-1/4 h-4 mb-4"></div>
              <div class="card-actions">
                <div class="skeleton skeleton-animated h-10 w-25"></div>
                <div class="skeleton skeleton-animated h-10 w-32"></div>
              </div>
            </div>
          </div>
          
          <div class="card sm:max-w-sm">
            <figure>
              <div class="skeleton skeleton-animated w-full h-48"></div>
            </figure>
            <div class="card-body">
              <div class="skeleton skeleton-animated w-3/4 h-4 mb-2.5"></div>
              <div class="skeleton skeleton-animated w-1/2 h-4 mb-4"></div>
              <div class="skeleton skeleton-animated w-1/4 h-4 mb-4"></div>
              <div class="card-actions">
                <div class="skeleton skeleton-animated h-10 w-25"></div>
                <div class="skeleton skeleton-animated h-10 w-32"></div>
              </div>
            </div>
          </div>
          
          <div class="card sm:max-w-sm">
            <figure>
              <div class="skeleton skeleton-animated w-full h-48"></div>
            </figure>
            <div class="card-body">
              <div class="skeleton skeleton-animated w-3/4 h-4 mb-2.5"></div>
              <div class="skeleton skeleton-animated w-1/2 h-4 mb-4"></div>
              <div class="skeleton skeleton-animated w-1/4 h-4 mb-4"></div>
              <div class="card-actions">
                <div class="skeleton skeleton-animated h-10 w-25"></div>
                <div class="skeleton skeleton-animated h-10 w-32"></div>
              </div>
            </div>
          </div>
          
          <div class="card sm:max-w-sm">
            <figure>
              <div class="skeleton skeleton-animated w-full h-48"></div>
            </figure>
            <div class="card-body">
              <div class="skeleton skeleton-animated w-3/4 h-4 mb-2.5"></div>
              <div class="skeleton skeleton-animated w-1/2 h-4 mb-4"></div>
              <div class="skeleton skeleton-animated w-1/4 h-4 mb-4"></div>
              <div class="card-actions">
                <div class="skeleton skeleton-animated h-10 w-25"></div>
                <div class="skeleton skeleton-animated h-10 w-32"></div>
              </div>
            </div>
          </div>

        </div>

      <!--  Paginación  -->

        <nav *ngIf="!isSearching" class="flex items-center gap-x-1 mt-4">
          <button (click)="nextPag(pag_actual - 1)" type="button" class="btn btn-soft rounded-full">Previous</button>
          <div class="flex items-center gap-x-1">
            <div *ngFor="let pagina of [].constructor(totalPag()); let i = index" class="">
              <button (click)="nextPag(i + 1)" type="button" 
                    class="btn btn-soft btn-circle"
                    [ngClass]="{'bg-blue-700 text-gray-50': (i + 1) === pag_actual, 'text-gray-900': (i + 1) !== pag_actual}">
                    {{ i + 1 }}
              </button>
            </div>
            
          </div>
          <button (click)="nextPag(pag_actual + 1)" type="button" class="btn btn-soft rounded-full">Next</button>
        </nav>

    </main>
</div>
