<div class="flex min-h-screen bg-gray-100 ">

    <!--  Contenido principal  -->
    <main class="flex-1 p-6 mt-16">


      <!--  Barra de búsqueda  -->

        <form class="max-w-xl mx-auto mb-6" (ngSubmit)="search()">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">

                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>

                <input name="searchText" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar producto, marca, tipo..." required [(ngModel)]="searchText" />

                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
        </form>

        <div *ngIf="isSearching" class="mt-8 text-center transition-opacity duration-300 ease-in-out">
            <h1 class="text-3xl font-bold mb-4">Bienvenido a nuestra plataforma de búsqueda por IA</h1>
            <p class="text-lg mb-2">Encuentra lo que necesitas en segundos</p>
            <p class="text-sm text-muted-foreground">
              Utiliza la barra de búsqueda para explorar en diversas webs en busca de productos
            </p>
          </div>

      <!--  Cuadrícula de productos  -->
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8 2xl:grid-cols-6">



            <!-- <p class="text-center text-gray-500 mt-6">No se encontraron productos que coincidan con tu búsqueda.</p> -->
        </div>
    </main>
  </div>
