<div class="flex min-h-screen bg-gray-100 ">

    <!--  Contenido principal  -->
    <main class="flex-1 p-6 mt-16">


      <!--  Barra de búsqueda  -->

        <form class="max-w-xl mx-auto mb-6" (ngSubmit)="search()">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">

                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>

                <input name="searchText" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar producto, marca, tipo..." required [(ngModel)]="searchText" />

                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
        </form>

        <div *ngIf="isSearching" class="mt-8 text-gray-950 text-center transition-opacity duration-300 ease-in-out">
            <h1 class="text-3xl font-bold mb-4">Bienvenido a nuestra plataforma de búsqueda por IA</h1>
            <p class="text-lg mb-2">Encuentra lo que necesitas en segundos</p>
            <p class="text-sm text-muted-foreground">
              Utiliza la barra de búsqueda para explorar en diversas webs en busca de productos
            </p>
        </div>

        <div *ngIf="loading" class="mt-8 text-center">
          <p class="text-gray-950 font-semibold text-sm pb-2">Esto puede tardar unos segundos</p>
          <span class="loading loading-ring loading-lg text-blue-700"></span>
        </div>

      <!--  Cuadrícula de productos  -->

        <div class="flex flex-wrap pt-20 px-6 gap-4"> 
     
          <div *ngFor="let list of productsPag()" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
              <a>
                  <img class="p-8 rounded-t-lg" [src]="list.image" alt="product image" />
              </a>
              <div class="px-5 pb-5">
                  <a>
                      <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"> {{list.title | slice:0:30}} </h5>
                  </a>
                  <div class="items-center mt-2.5 mb-5">
                      <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3"> {{list.type}} </span>
                  </div>

                  <a>
                      <h2 class="text-gray-600 font-semibold text-lg mb-2"> {{list.price}} </h2>
                  </a>

                  <div class="flex items-center justify-between">
                      <a (click)="abrir(list.url)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer">Ver Producto</a>                            
                      
                  </div>
              </div>
          </div>
  
      </div>

      <!--  Skeleton  -->
        <div *ngIf="loading" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8 2xl:grid-cols-6 transition-all ease-in duration-300">
          
          <div class="card sm:max-w-sm">
            <figure>
              <div class="skeleton skeleton-animated w-full h-48"></div>
            </figure>
            <div class="card-body">
              <div class="skeleton skeleton-animated w-3/4 h-4 mb-2.5"></div>
              <div class="skeleton skeleton-animated w-1/2 h-4 mb-4"></div>
              <div class="skeleton skeleton-animated w-1/4 h-4 mb-4"></div>
              <div class="card-actions">
                <div class="skeleton skeleton-animated h-10 w-25"></div>
                <div class="skeleton skeleton-animated h-10 w-32"></div>
              </div>
            </div>
          </div>
          
          <div class="card sm:max-w-sm">
            <figure>
              <div class="skeleton skeleton-animated w-full h-48"></div>
            </figure>
            <div class="card-body">
              <div class="skeleton skeleton-animated w-3/4 h-4 mb-2.5"></div>
              <div class="skeleton skeleton-animated w-1/2 h-4 mb-4"></div>
              <div class="skeleton skeleton-animated w-1/4 h-4 mb-4"></div>
              <div class="card-actions">
                <div class="skeleton skeleton-animated h-10 w-25"></div>
                <div class="skeleton skeleton-animated h-10 w-32"></div>
              </div>
            </div>
          </div>
          
          <div class="card sm:max-w-sm">
            <figure>
              <div class="skeleton skeleton-animated w-full h-48"></div>
            </figure>
            <div class="card-body">
              <div class="skeleton skeleton-animated w-3/4 h-4 mb-2.5"></div>
              <div class="skeleton skeleton-animated w-1/2 h-4 mb-4"></div>
              <div class="skeleton skeleton-animated w-1/4 h-4 mb-4"></div>
              <div class="card-actions">
                <div class="skeleton skeleton-animated h-10 w-25"></div>
                <div class="skeleton skeleton-animated h-10 w-32"></div>
              </div>
            </div>
          </div>
          
          <div class="card sm:max-w-sm">
            <figure>
              <div class="skeleton skeleton-animated w-full h-48"></div>
            </figure>
            <div class="card-body">
              <div class="skeleton skeleton-animated w-3/4 h-4 mb-2.5"></div>
              <div class="skeleton skeleton-animated w-1/2 h-4 mb-4"></div>
              <div class="skeleton skeleton-animated w-1/4 h-4 mb-4"></div>
              <div class="card-actions">
                <div class="skeleton skeleton-animated h-10 w-25"></div>
                <div class="skeleton skeleton-animated h-10 w-32"></div>
              </div>
            </div>
          </div>

        </div>

      <!--  Paginación  -->

        <nav *ngIf="!isSearching" class="flex items-center gap-x-1 mt-4">
          <button (click)="nextPag(pag_actual - 1)" type="button" class="btn btn-soft rounded-full">Previous</button>
          <div class="flex items-center gap-x-1">
            <div *ngFor="let pagina of [].constructor(totalPag()); let i = index" class="">
              <button (click)="nextPag(i + 1)" type="button" 
                    class="btn btn-soft btn-circle"
                    [ngClass]="{'bg-blue-700 text-gray-50': (i + 1) === pag_actual, 'text-gray-900': (i + 1) !== pag_actual}">
                    {{ i + 1 }}
              </button>
            </div>
            
          </div>
          <button (click)="nextPag(pag_actual + 1)" type="button" class="btn btn-soft rounded-full">Next</button>
        </nav>

    </main>
</div>
