<div
    class="bg-sky-600 dark:bg-purple-900 absolute top-0 left-0 bg-gradient-to-b from-sky-700 dark:from-gray-900 via-sky-500 dark:via-gray-900 to-sky-600 dark:to-purple-800 bottom-0 leading-5 h-full w-full overflow-hidden transition ease-in duration-500">

</div>
<div class="relative min-h-screen sm:flex sm:flex-row justify-center ">
    <p-toast position="bottom-left" key="bl" />
    <div class="justify-center self-center z-10 mt-0">
        <div class="p-10 bg-white mx-auto rounded-3xl w-96 shadow-2xl">
            <p class="">
                ¿Olvidaste tu contraseña? No hay problema. Solo indícanos tu dirección de correo electrónico y te enviaremos un código de restablecimiento de contraseña que te permitirá elegir una nueva.
            </p>
                
            <div class="mt-4">
                <div class="flex justify-center items-center relative">
                    <input
                        required [ngClass]="{'border-red-500': errorEmail}" [disabled]="!   loading" class=" w-full text-sm px-4 py-3 bg-gray-200 border border-gray-200 rounded-lg focus:outline-none focus:border-blue-500 peer bg-inherit"
                        type="text" [(ngModel)]="valor.email">
                    <span [ngClass]="{'text-red-500': errorEmail}" class="text-sm text-slate-500 text-opacity-80 absolute left-0 top-3 mx-2 px-2 transition duration-200 peer-focus:text-blue-500 pointer-events-none peer-focus:text-xs peer-focus:-translate-y-5 bg-white peer-valid:text-sm peer-valid:-translate-y-5">
                        Correo electronico
                    </span>
                </div>
                <p *ngIf="errorEmail" class="text-sm ms-1 text-red-500 py-2">{{this.errorEmail}}</p>
            </div>

            <div class="mt-4">
                <button [disabled]="!loading" (click)="enviarCorreo()" [ngClass]="{'opacity-60 cursor-not-allowed' : !loading}" type="submit" class="w-full flex justify-center dark:bg-purple-800 dark:hover:bg-purple-700 text-gray-100 p-3 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500 bg-sky-600 hover:bg-sky-700">
                    <svg *ngIf="!loading" class="animate-spin w-5 h-5 mr-3 fill-[#ffffff]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"></path>
                      </svg>
                    {{statusBtn}}
                </button>
            </div>
        </div>
        
    </div>
</div>

<svg class="absolute bottom-0 left-0 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fff" fill-opacity="1"
        d="M0,0L40,42.7C80,85,160,171,240,197.3C320,224,400,192,480,154.7C560,117,640,75,720,74.7C800,75,880,117,960,154.7C1040,192,1120,224,1200,213.3C1280,203,1360,149,1400,122.7L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
    </path>
</svg>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"></script>