/* .main-screen
{
    background-image: url(../../../assets/nlr/web/login.jpg);
    background-size: cover;
} */

.bt-size
{

    width: 100px; /* O un valor específico como 250px */
    height: 10px;
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */

}